.test {
  font-size: 20px;
  background-color: antiquewhite;
  width: 100px; }

.card-course-item {
  margin-top: 12px; }

.select-all-options {
  width: 180px;
  margin: 0 16px; }

.pd-4 {
  padding: 4px; }
